<!-- the user overview should contain:
a list of users who are using the app
possibility to add user to may friends
-->
<html class="userOverview">
<header class="header">
  <div class = "BackSection">
    <a routerLink="/startseite"><img type = "button" id = "home_btn" src="https://img.icons8.com/flat_round/64/000000/back--v1.png">
    </a>
  </div>
  <div class = "searchSection">
    <a routerLink="/andere-user"> <img type = "button" id = "search_btn" src="https://img.icons8.com/doodle/48/000000/search.png">
    </a>
  </div>
  <div class = "profileSection">
    <a routerLink="/profile/{{userdata}}"><img type = "button" id = "profile_btn"  src="https://img.icons8.com/doodle/48/000000/name.png">
    </a>
  </div>
</header>
<body>

<!-- section with list of users-->
<div class="container">
  <div class = 'friendList'>
    <h2>Friends</h2>
    <div class = "listElement" *ngFor="let user of friends">
      <a routerLink="/other_profile"> <img id = "profile_img" src="https://img.icons8.com/doodle/48/000000/name.png"></a>
      <p id = "userName">{{user}}</p>
    </div>
  </div>
  <div class = 'friendList'>
    <h2>Other Users</h2>
  <div class = "listElement" *ngFor="let user of allusers">
      <a routerLink="/other_profile"> <img id = "profile_img" src="https://img.icons8.com/doodle/48/000000/name.png"></a>
      <p id = "userName">{{user.u_name}}</p>
      <!-- add user to my friends-->
      <img type = "button" id = "add_btn" src="https://img.icons8.com/doodle/48/000000/handshake--v1.png" (click)="addFriend(user);">
  </div>
  </div>
</div>
</body>
</html>
