<form action="index.html" method="post">
  <p><label for="email">Email</label><br>
  <input type="text" name="email" value=""></p>
  <p><label for="username">Username</label><br>
  <input type="text" name="username" value=""></p>
  <p><label for="password">Passwort</label><br>
  <input type="password" name="password" value=""></p>
  <p><label for="password2">Passwort wiederholen</label><br>
  <input type="password" name="password2" value=""></p>
  <p><a routerLink = "/startseite"><input type="button" value="registrieren"></a></p>
</form>
