<div class = "regSection">
  <form method="post" class = "regForm">
  <p><label>Email</label><br>
  <input type="text" class = "inputFields" name="email" value=""></p>
  <p><label>Username</label><br>
  <input type="text" class = "inputFields" name="username" value=""></p>
  <p><label>Passwort</label><br>
  <input type="password" class = "inputFields" name="password" value=""></p>
  <p><label>Passwort wiederholen</label><br>
  <input type="password" class = "inputFields" name="password2" value=""></p>
  <p><a routerLink = "/login"><input type="button" id = "back-btn" value="zurück"></a></p>
  <p><a routerLink = "/startseite"><input type="button" id = "reg-btn" value="registrieren"></a></p>
</form>
</div>
