
<div class = "regSection">
  <form method="post" class = "regForm">
  <p><label>Email</label><br>
  <input type="text" class = "inputFields" id="email" value="" required></p>
  <p><label>Username</label><br>
  <input type="text" class = "inputFields" id="username" value="" pattern = "[A-Za-z0-9_ÄäÖöÜü]{5,20}" required></p>
  <p><label>Passwort</label><br>
  <input type="password" class = "inputFields" id="password" value="" pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$§%^°&*_=|<>+-.:,;~?']).{8,20}$" required></p>
  <p><label>Passwort wiederholen</label><br>
  <input type="password" class = "inputFields" id="password2" value="" required></p>
  <p><a routerLink = "/login"><img type = "button" id = "back-btn" src="https://img.icons8.com/flat_round/64/000000/back--v1.png"></a></p>
  <p><input type="button" id = "reg-btn" value="registrieren" (click) = "checkRegistration()"></p>
</form>
  <div class = "info">
    <p><textarea id="out" style="display:none;" rows="1" cols="40"></textarea></p>
  </div>
</div>
