<!-- the ranking page should contain:
an overview of the best 20 public users
ranking depending on their max-rep value
best user gets on first place
-->
<html class="ranking">
<app-header></app-header>
<body>

  <div class="container">

    <div class = "rankingSection">
      <h2>RANKING</h2>
      <table>
        <thead><tr><th>DEADLIFT</th><th>Username</th><th>Max-Rep</th></tr></thead>
        <ng-container *ngFor="let item of deadlift">
            <tr><td>{{item.exercise_name}}</td><td>{{item.u_name}}</td><td>{{item.weight}}</td></tr>
        </ng-container>
      </table>
      <table>
        <thead><tr><th>SQUAT</th><th>Username</th><th>Max-Rep</th></tr></thead>
        <ng-container *ngFor="let item of squat">
            <tr><td>{{item.exercise_name}}</td><td>{{item.u_name}}</td><td>{{item.weight}}</td></tr>
        </ng-container>
      </table>
      <table>
        <thead><tr><th>BENCHPRESS</th><th>Username</th><th>Max-Rep</th></tr></thead>
        <ng-container *ngFor="let item of benchpress">
            <tr><td>{{item.exercise_name}}</td><td>{{item.u_name}}</td><td>{{item.weight}}</td></tr>
        </ng-container>
      </table>
      <table>
        <thead><tr><th>MILITARY PRESS</th><th>Username</th><th>Max-Rep</th></tr></thead>
        <ng-container *ngFor="let item of militarypress">
            <tr><td>{{item.exercise_name}}</td><td>{{item.u_name}}</td><td>{{item.weight}}</td></tr>
        </ng-container>
      </table>
      <table>
        <thead><tr><th>ROW</th><th>Username</th><th>Max-Rep</th></tr></thead>
        <ng-container *ngFor="let item of row">
            <tr><td>{{item.exercise_name}}</td><td>{{item.u_name}}</td><td>{{item.weight}}</td></tr>
        </ng-container>
      </table>
    </div>
  </div>
</body>
</html>