<!-- the profile should contain:
the username
the height and wheight of the user
a possibility to change these data
possibility to change visibility of my profile from private to public
-->
<html class="profile">
<app-header></app-header>

<body>
  <!-- section with user data-->
  <div class="profileSection">
    <h2>Benutzerprofil</h2>
    <div class="card">
      <img id="profile_img" src="https://img.icons8.com/doodle/96/000000/name.png">
      <h1>{{userdata.u_name}}</h1>
      <p class="height">Größe: <input type="number" class="inputFields" id="height" value="{{userdata.height}}" disabled></p>
      <p class="wheight">Gewicht: <input type="number" class="inputFields" id="weight" value="{{userdata.weight}}" disabled></p>
      <p class="visibility">Sichtbarkeit:
        <select id="visibility" disabled>
          <option value="null" disabled selected></option>
          <option value="true">öffenlich</option>
          <option value="false">privat</option>
        </select>
      </p>

    </div>
    <a routerLink="/maxRep" [queryParams]="[userdata.u_name]"><input type="button" id="maxRep-btn" value="Auswertungen"></a>
    <p><input type="button" id="settings-btn" (click)="settings()" *ngIf="myUser == true" value="Einstellungen"></p>
  </div>
</body>

</html>
