@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

.workoutOverview{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(https://source.unsplash.com/qZ-U9z4TQ6A/1400x600);
    background-size: cover;
  background-repeat: no-repeat;
}

body{
  height: 100%;
  margin: 0;
}

.container{
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 40, 40, .8);
  transition: .2s;
  display: flex;

}

.list{
  margin: 0;
  width: 70%;
  height:300px;
  transition: .2s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: auto;
  flex-wrap: wrap;
}

.timeSettings{
  display: flex;
  flex-direction: column;
  margin: auto;
}

#timer{

  background-color: white;
  width: 80px;
  height: 30px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
}

.listElement{
  width: 350px;
  height: 110px;
  background-color: gray;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  margin: auto;
  display: flex;
  flex-direction: row;
}

.data{
  display: flex;
  flex-direction: column;
}

.data p{
  margin:0;
  padding: 0;
}

#play_btn{
  cursor: pointer;
  margin: auto;
}

#nextSet_btn, #timer_btn{
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  transition: .4s;
  margin-top: 5px;
}


