<!-- the workout overview should contain:
possibility to visit profile, search for other users and logout in the header
list of prepared exercises to do in the chosen workout
-->
<html class="workoutOverview">
<app-header></app-header>
<body>


<!-- section with list of exercises-->
<div class="container">
  <div class="list">
    <div id="timer">{{timeString}}</div>
  <div class = "listElement"> <!-- *ngFor="let set of sets"  -->
    <img id = "exImg" src="https://img.icons8.com/doodle/64/000000/barbell.png">
    <div class = "data">
    <p class = "label" id = "exerciseName">Übung: {{currentExercise.exercise_name}}  {{currentExercise.setnumber}}. Satz </p>
    <p class = "label" id = "weight"*ngIf="iscardio===false" >Gewicht: <input type="number" id = "weightInput" min=0 max=500> </p>
    <p class = "label" id = "repeat" *ngIf="iscardio===false">Wiederholungen:<input type="number" id = "repInput" min=0 max=100> </p>
    <button type="button" id = "nextSet_btn" (click)= "nextSet()" [disabled]="buttonDisabled" *ngIf="iscardio===false">Satz speichern!</button>
    <button type="button" id = "abort_btn" (click)= "finishTraining()" *ngIf="iscardio===false">Training abbrechen</button>
    <button type="button" id = "timer_btn" (click)= "startStopwatch()" *ngIf="iscardio">Stoppuhr starten</button>
    </div>
  </div>

  </div>
</div>
</body>
</html>
