@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

.profile{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  align-items: center;
  background-color: black;
  border: 1px solid rgba(10, 180, 180, 1);
  transition: 5s;
  width: 100%;
  height: 70px;
}

.searchSection{
  flex: 1;
}

.profileSection{
  width: 100%;
  height: 100%;
  background: rgba(20, 40, 40, .8);
  transition: .2s;
  display: flex;
  flex-direction: column;
}

h2{
  text-align:center;
  color: white;
}

#profile_img{
  width: 50%;
}


.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.inputFields{
  margin-bottom: 10px;
  width: 30%;
}




