<div class="signupSection">
  <div class="info">
    <h2>Our new Fitness App</h2>
    <!--<i class="icon" aria-hidden="true"></i>-->
    <p>Push your Power!</p>
  </div>

  <form class = "signupForm">
    <ul class = noBullet>
      <p><label>Username</label><br>
        <input type="text" class = "inputFields" id="username" value=""></p>
      <p><label>Password</label><br>
        <input type="password" class = "inputFields" id="password" value=""></p>
      <p><input type="button" id = "login-btn" (click) = "checkLogin()" value="login"></p>
      <p><input type="button" id = "reg-btn" (click) = "this.router.navigate(['/registrieren']);" value="registrieren"></p>
      <p><textarea id="out" style="display:none;" rows="1" cols="40">Username oder Passwort stimmen nicht!</textarea></p>
    </ul>
  </form>
</div>
